IPy==0.81
Pillow==2.5.3
miniupnpc==1.9
psutil==2.1.3
bitcoin==1.1.15
pycountry==1.8
pyelliptic==1.5.5
pysqlcipher==2.6.3-1
pystun==0.0.4
python-gnupg==0.3.6
python-obelisk==0.1.3
pyzmq==14.3.1
qrcode==5.0.1
requests==2.4.1
tornado==4.0.2
Twisted==14.0.2
