<div data-ng-show="myInfoPanel" class="animated fadeInLeft">

    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>You are <strong>now ready</strong> to join the world on a mission of freedom. Freedom to purchase, sell, and trade.</p>
        <div class="coreContent">
            <p>Some of the cool features we are working on:
                <ul>
                    <li>Secure peer to peer merchants</li>
                    <li>Anonymous ratings system</li>
                    <li>Ricardian Contracts for various types of deals</li>
                    <li>Third-party arbitration system</li>
                    <li>Encrypted messaging and chat</li>
                </ul>
            </p>
        </div>
        <p>Want to help us change the world? <br/>Visit us at <a href="https://github.com/OpenBazaar/OpenBazaar" target="_blank">https://github.com/OpenBazaar/OpenBazaar</a></p>
    </div>
</div>
